<?xml version="1.0" ?>
<robot name="diddler" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Measurements (meters) -->
  <xacro:property name="coxa_len" value="0.043"/>
  <xacro:property name="femur_len" value="0.060"/>
  <xacro:property name="tibia_len" value="0.104"/>
  <xacro:property name="L1_TO_R1" value="0.126"/>
  <xacro:property name="L1_TO_L3" value="0.167"/>
  <xacro:property name="L2_TO_R2" value="0.163"/>
  <xacro:property name="LEG_CONNECTION_Z" value="-0.007"/>

  <!-- Materials -->
  <material name="silver"><color rgba="0.7 0.7 0.7 1.0"/></material>
  <material name="red"><color rgba="0.8 0.2 0.2 1.0"/></material>
  <material name="green"><color rgba="0.2 0.8 0.2 1.0"/></material>
  <material name="blue"><color rgba="0.2 0.2 0.8 1.0"/></material>

  <!-- ==================== BASE ==================== -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.003 0.0 0.082" rpy="0 0 0"/>
      <mass value="2.76"/>
      <inertia ixx="0.0104" iyy="0.0114" izz="0.0208" ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <geometry><box size="${L1_TO_L3} ${L2_TO_R2} 0.05"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG L1 (Left Front) ==================== -->
  <link name="cox_L1_1">
    <inertial>
      <origin xyz="-0.026 -0.027 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.000242" iyy="0.00024" izz="0.000124" ixy="-1.3e-05" iyz="1e-05" ixz="1.2e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.087783 0.066055 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_L1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_L1_1">
    <inertial>
      <origin xyz="-0.006 -0.042 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="9.4e-05" iyy="9.2e-05" izz="0.000131" ixy="1.3e-05" iyz="2.4e-05" ixz="2.4e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.136785 0.078571 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_L1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_L1_1">
    <inertial>
      <origin xyz="0.004 -0.033 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000705" iyy="0.000714" izz="0.000267" ixy="-8.2e-05" iyz="-0.000196" ixz="-0.000204"/>
    </inertial>
    <visual>
      <origin xyz="0.183123 0.124909 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_L1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG L2 (Left Middle) ==================== -->
  <link name="cox_L2_1">
    <inertial>
      <origin xyz="0.0005 -0.037 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.000254" iyy="0.000228" izz="0.000124" ixy="1e-06" iyz="1.6e-05" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.0002 0.0855 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_L2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_L2_1">
    <inertial>
      <origin xyz="0.025 -0.034 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="8e-05" iyy="0.000106" izz="0.000131" ixy="1e-06" iyz="3.4e-05" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0256 0.129 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_L2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_L2_1">
    <inertial>
      <origin xyz="0.026 -0.020 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000791" iyy="0.000628" izz="0.000267" ixy="-5e-06" iyz="-0.000283" ixz="-6e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0256 0.194532 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_L2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG L3 (Left Rear) ==================== -->
  <link name="cox_L3_1">
    <inertial>
      <origin xyz="0.027 -0.026 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.00024" iyy="0.000242" izz="0.000124" ixy="1.3e-05" iyz="1.2e-05" ixz="-1e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.088556 0.065282 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_L3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_L3_1">
    <inertial>
      <origin xyz="0.042 -0.006 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="9.2e-05" iyy="9.4e-05" izz="0.000131" ixy="-1.3e-05" iyz="2.4e-05" ixz="-2.4e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.101072 0.114284 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_L3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_L3_1">
    <inertial>
      <origin xyz="0.033 0.004 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000714" iyy="0.000705" izz="0.000267" ixy="8.2e-05" iyz="-0.000204" ixz="0.000196"/>
    </inertial>
    <visual>
      <origin xyz="-0.14741 0.160623 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_L3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG R1 (Right Front) ==================== -->
  <link name="cox_R1_1">
    <inertial>
      <origin xyz="-0.026 0.027 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.000242" iyy="0.00024" izz="0.000124" ixy="1.3e-05" iyz="-1e-05" ixz="1.2e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.087783 -0.066055 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_R1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_R1_1">
    <inertial>
      <origin xyz="-0.006 0.042 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="9.4e-05" iyy="9.2e-05" izz="0.000131" ixy="-1.3e-05" iyz="-2.4e-05" ixz="2.4e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.136785 -0.078571 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_R1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_R1_1">
    <inertial>
      <origin xyz="0.004 0.033 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000705" iyy="0.000714" izz="0.000267" ixy="8.2e-05" iyz="0.000196" ixz="-0.000204"/>
    </inertial>
    <visual>
      <origin xyz="0.183123 -0.124909 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_R1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG R2 (Right Middle) ==================== -->
  <link name="cox_R2_1">
    <inertial>
      <origin xyz="0.0005 0.037 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.000254" iyy="0.000228" izz="0.000124" ixy="-1e-06" iyz="-1.6e-05" ixz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.0002 -0.0855 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_R2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_R2_1">
    <inertial>
      <origin xyz="0.025 0.034 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="8e-05" iyy="0.000106" izz="0.000131" ixy="-1e-06" iyz="-3.4e-05" ixz="-1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0256 -0.129 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_R2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_R2_1">
    <inertial>
      <origin xyz="0.026 0.020 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000791" iyy="0.000628" izz="0.000267" ixy="5e-06" iyz="0.000283" ixz="-6e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0256 -0.194532 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_R2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== LEG R3 (Right Rear) ==================== -->
  <link name="cox_R3_1">
    <inertial>
      <origin xyz="0.027 0.026 0.022" rpy="0 0 0"/>
      <mass value="0.434"/>
      <inertia ixx="0.00024" iyy="0.000242" izz="0.000124" ixy="-1.3e-05" iyz="-1.2e-05" ixz="-1e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.088556 -0.065282 -0.0596" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/cox_R3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${coxa_len/2} 0 0"/>
      <geometry><box size="${coxa_len} 0.03 0.03"/></geometry>
    </collision>
  </link>

  <link name="femur_R3_1">
    <inertial>
      <origin xyz="0.042 0.006 0.024" rpy="0 0 0"/>
      <mass value="0.132"/>
      <inertia ixx="9.2e-05" iyy="9.4e-05" izz="0.000131" ixy="1.3e-05" iyz="-2.4e-05" ixz="-2.4e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.101072 -0.114284 -0.0781" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/femur_R3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${femur_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.015" length="${femur_len}"/></geometry>
    </collision>
  </link>

  <link name="tibia_R3_1">
    <inertial>
      <origin xyz="0.033 -0.004 -0.024" rpy="0 0 0"/>
      <mass value="0.495"/>
      <inertia ixx="0.000714" iyy="0.000705" izz="0.000267" ixy="-8.2e-05" iyz="0.000204" ixz="0.000196"/>
    </inertial>
    <visual>
      <origin xyz="-0.14741 -0.160623 -0.123986" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/daksh/spooder_ws/diddler/meshes/tibia_R3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${tibia_len/2} 0 0" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.01" length="${tibia_len}"/></geometry>
    </collision>
  </link>

  <!-- ==================== JOINTS ==================== -->
  <!-- L1 (Left Front) -->
  <joint name="R31" type="revolute">
    <origin xyz="-0.087783 -0.066055 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_L1_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="R32" type="revolute">
    <origin xyz="-0.049002 -0.012516 0.0185" rpy="0 0 0"/>
    <parent link="cox_L1_1"/>
    <child link="femur_L1_1"/>
    <axis xyz="-0.707107 0.707107 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="R33" type="revolute">
    <origin xyz="-0.046338 -0.046338 0.045886" rpy="0 0 0"/>
    <parent link="femur_L1_1"/>
    <child link="tibia_L1_1"/>
    <axis xyz="0.707107 -0.707107 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

  <!-- L2 (Left Middle) -->
  <joint name="R21" type="revolute">
    <origin xyz="0.0002 -0.0855 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_L2_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="R22" type="revolute">
    <origin xyz="-0.0258 -0.0435 0.0185" rpy="0 0 0"/>
    <parent link="cox_L2_1"/>
    <child link="femur_L2_1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="R23" type="revolute">
    <origin xyz="0.0 -0.065532 0.045886" rpy="0 0 0"/>
    <parent link="femur_L2_1"/>
    <child link="tibia_L2_1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

  <!-- L3 (Left Rear) -->
  <joint name="R11" type="revolute">
    <origin xyz="0.088556 -0.065282 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_L3_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="R12" type="revolute">
    <origin xyz="0.012516 -0.049002 0.0185" rpy="0 0 0"/>
    <parent link="cox_L3_1"/>
    <child link="femur_L3_1"/>
    <axis xyz="-0.707107 -0.707107 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="R13" type="revolute">
    <origin xyz="0.046338 -0.046339 0.045886" rpy="0 0 0"/>
    <parent link="femur_L3_1"/>
    <child link="tibia_L3_1"/>
    <axis xyz="0.707107 0.707107 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

  <!-- R1 (Right Front) -->
  <joint name="L31" type="revolute">
    <origin xyz="-0.087783 0.066055 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_R1_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="L32" type="revolute">
    <origin xyz="-0.049002 0.012516 0.0185" rpy="0 0 0"/>
    <parent link="cox_R1_1"/>
    <child link="femur_R1_1"/>
    <axis xyz="0.707107 0.707107 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="L33" type="revolute">
    <origin xyz="-0.046338 0.046338 0.045886" rpy="0 0 0"/>
    <parent link="femur_R1_1"/>
    <child link="tibia_R1_1"/>
    <axis xyz="-0.707107 -0.707107 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

  <!-- R2 (Right Middle) -->
  <joint name="L21" type="revolute">
    <origin xyz="0.0002 0.0855 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_R2_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="L22" type="revolute">
    <origin xyz="-0.0258 0.0435 0.0185" rpy="0 0 0"/>
    <parent link="cox_R2_1"/>
    <child link="femur_R2_1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="L23" type="revolute">
    <origin xyz="0.0 0.065532 0.045886" rpy="0 0 0"/>
    <parent link="femur_R2_1"/>
    <child link="tibia_R2_1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

  <!-- R3 (Right Rear) -->
  <joint name="L11" type="revolute">
    <origin xyz="0.088556 0.065282 0.0596" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cox_R3_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="1" lower="-1" effort="100" velocity="100"/>
  </joint>
  <joint name="L12" type="revolute">
    <origin xyz="0.012516 0.049002 0.0185" rpy="0 0 0"/>
    <parent link="cox_R3_1"/>
    <child link="femur_R3_1"/>
    <axis xyz="0.707107 -0.707107 0.0"/>
    <limit upper="0.8" lower="-0.8" effort="100" velocity="100"/>
  </joint>
  <joint name="L13" type="revolute">
    <origin xyz="0.046338 0.046339 0.045886" rpy="0 0 0"/>
    <parent link="femur_R3_1"/>
    <child link="tibia_R3_1"/>
    <axis xyz="-0.707107 0.707107 0.0"/>
    <limit upper="0.7" lower="-1.570796" effort="100" velocity="100"/>
  </joint>

</robot>
